<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/testimoni.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Testimonials</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-left">
          <img src="../assets/img/dumbways.png" alt="dumbways" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/myproject">My Project</a></li>
            <li><a href="/testimonial">Testimonials</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <a href="/contact">Contact Me</a>
          <i
            class="fa-solid fa-bars"
            id="burger-button"
            onclick="openBurger()"
          ></i>
        </div>
      </nav>
      <div class="burger" id="burger">
        <a href="/">Home</a>
        <a href="/myproject">My Project</a>
        <a href="/contact">Contact Me</a>
        <a href="/testimonial">Testimonials</a>
      </div>
    </div>

    <!-- testimonial page -->
    <div class="testimonial">
      <h1>My Testimonials</h1>
      <div class="rating">
        <div class="container-rating">
        <button onclick="allTestimonial()" class="rating-button">ALL</button>
        <button onclick="filterTestimonial(1)" class="rating-button">1<i class="fa-solid fa-star"></i></button>
        <button onclick="filterTestimonial(2)" class="rating-button">2<i class="fa-solid fa-star"></i></button>
        <button onclick="filterTestimonial(3)" class="rating-button">3<i class="fa-solid fa-star"></i></button>
        <button onclick="filterTestimonial(4)" class="rating-button">4<i class="fa-solid fa-star"></i></button>
        <button onclick="filterTestimonial(5)" class="rating-button">5<i class="fa-solid fa-star"></i></button>
      </div>
      </div>
      <div class="grid-content" id="testimonial"></div>
    </div>
    <script src="../assets/js/navbar.js"></script>
    <script src="../assets/js/ajax.js"></script>
  </body>
</html>
