<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <link rel="stylesheet" href="../assets/css/viewproject.css" />
    <script src="../assets/js/viewproject.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/1693852aac.js"
      crossorigin="anonymous"
    ></script>
    <title>View Project</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div class="navbar-left">
          <img src="../assets/img/dumbways.png" alt="dumbways" />
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="myproject">My Project</a></li>
            <li><a href="testimonial">Testimonials</a></li>
          </ul>
        </div>
        <div class="navbar-right">
          <a href="contact">Contact Me</a>
          <i
              class="fa-solid fa-bars"
              id="burger-button"
              onclick="openBurger()"
            ></i>
        </div>
      </nav>
      <div class="burger" id="burger">
        <a href="index">Home</a>
        <a href="myproject">My Project</a>
        <a href="contact">Contact Me</a>
        <a href="testimonial">Testimonials</a>
      </div>
    </div>
      <div class="viewproject">
        {{data.title}}
        <div id="vproject">
          {{data.id}}
          {{data.content}}
        </div>
      </div>
    </div>
  </body>
</html>
