* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(207, 194, 194);
  width: 100%;
  height: fit-content;
}
/* navigasi */
.navbar {
  width: 100%;
  height: 75px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar-left {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-left: 100px;
}

.navbar-right {
  margin-right: 100px;
}

.navbar img {
  width: 50px;
}

.navbar ul {
  display: flex;
  gap: 50px;
}

.navbar li {
  list-style: none;
}

.navbar-left a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar-left a:hover {
  color: orangered;
  transition: all 0.3s ease;
}

.navbar-right a {
  width: 100px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: black;
  padding: 7px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navbar-right a:hover {
  color: orangered;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

/* -------------------------------- */

/* home */
.content {
  width: 900px;
  height: 400px;
  border-radius: 10px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
}
.txt {
  width: 500px;
  float: left;
  padding-right: 20px;
}
.txt h1 {
  padding-bottom: 10px;
}
.txt p {
  text-align: justify;
}

#button1 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  position: absolute;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}
#button1:hover {
  color: orangered;
  transition: all 0.3s ease 0s;
}
#button2 {
  position: absolute;
  margin: 10px 0 0 100px;
}

#button2 img {
  position: absolute;
  margin-left: 10px;
}

/* pmberian property hover harus tnpa spasi sprti= button:hover */
.txt a {
  text-decoration: none;
  padding: 10px;
  color: black;
}
.txt img {
  width: 18px;
}
.photo {
  width: 300px;
  float: right;
  box-shadow: 1px 1px 10px grey;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
}
.photo img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.photo h3,
p {
  text-align: center;
}
.icon {
  text-align: center;
  padding-top: 10px;
}
/* -------------------------- */

/* form contact */
.form {
  width: 500px;
  background-color: white;
  margin: 100px auto;
  padding: 10px;
  border-radius: 10px;
}
.form h1 {
  text-align: center;
}

.form form {
  /* margin: 100px auto; */
  padding: 5%;
  color: black;
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 750px;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  padding-bottom: 5px;
}

.form input,
.form select,
.form textarea {
  border: none;
  background-color: rgba(230, 230, 230, 0.5);
  padding: 7.5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 5px black;
  outline: none;
}

#subject {
  color: black;
}

#subject option {
  color: #000;
}

.form textarea {
  resize: none;
  width: 100%;
  height: 150px;
}

.submit-button {
  width: 100px;
  color: #fff;
  background: black;
  padding: 7px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/* ------------------------------- */
